body{
    padding: 0;
    margin: 0;
}

.backgroundCenter{
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardWeather{
    width: 414px;
    height: 151px;
    background-color: #00D2FF;
    background: linear-gradient(#00D2FF, #3a7db5);
    border-radius: 5px;
}

.bigSun{
    left: 200px;
    position: relative;
}

.sun{
    position: relative;  
    left: 130px; 
}